:root {
  --reddy: mistyrose;
}

.test {
  color: var(--reddy);
}

.square {
  width: 100px;
  height: 100px;
  /* background-color: var(--reddy); */
  border: 1px solid #333;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 300px;
  margin-top: 20px;
}
